{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-transform-import-meta"
      ]
    }
  },
  "sourceMaps": "inline",
  "retainLines": true
}